:root {
  --text-dark: #1D2026;
  --text-light: #69707D;
  --text-lightest: #B6BCC8;
  --primary: #FF7E1B;
  --primary-hover: #FFAB6A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Kumbh Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a {
	text-decoration: none;
	color: inherit;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* HEADER STYLES */

header {
	/* position: fixed;
	width: 100%; */
	display: flex;
	align-items: center;
	padding: 1.2rem 1.5rem;
	justify-content: flex-start;
}

header button {
	background-color: inherit;
	border: none;
}

/* HEADER LOGO */

header .logo {
	margin-left: 1rem;
}

/* Header Nav */

.header-navigation {
	position: relative;
	align-self: end;
}

.header-navigation ul {
	display: none;
}

/* Nav modal menu */
.nav-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
}

.nav-modal .sidebar {
	width: 250px;
	height: 100%;
	padding: 1.6rem;
	background-color: white;
}

.nav-modal .modal-list {
	display: block;
	margin-top: 3.2rem;
}

.nav-modal .modal-list li {
	margin-bottom: 1.25rem;
	color: var(--text-dark);
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.625rem;
}

/* Header Cart */

.cart-icon-container {
	margin-left: auto;
	position: relative;
}

.cart-icon-container .cart-btn {
	cursor: pointer;
}

.cart-icon-container .cart-dropdown {
	position: fixed;
	right: 0.5rem;
	width: 360px;
	min-height: 260px;
	max-height: 80vh;
	border-radius: 0.625rem;
	padding: 1.5rem;
	box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
}

.cart-dropdown {
	font-weight: 700;
}

.cart-dropdown .items-container {
	display: flex;
	margin-top: 2.5rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.items-container .no-items {
	color: var(--text-light);
	font-weight: 700;
	line-height: 1.625rem
}
/* Header Profile */

.profile-icon-container {
	width: 1.5rem;
	margin-left: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.profile-icon-container:hover,
.profile-icon-container:hover {
	border: 2px solid var(--primary);
}


.profile-icon-container img {
	width: 100%;
}

/* SINGLE PRODUCT PAGE */
.product-container {
	margin-bottom: 5rem;
}

.product-info {
	padding: 1.5rem;
	max-width: 500px;
	margin: 0 auto;
}

.product-info .company {
	color: var(--primary);
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.11538rem;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

.product-info h1 {
	color: var(--text-dark);
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.product-info .description {
	color: var(--text-light);
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5625rem;
	margin-bottom: 1.75rem;
}

.product-info .price-info {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.75rem;
}

.product-info .price {
	color: var(--text-dark);
	font-weight: 700;
	font-size: 1.75rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.product-info .price span {
	color: var(--primary);
	font-size: 1rem;
	font-weight: 700;
	padding: 0.3rem;
	background-color: rgba(255, 126, 28, 0.5);
	border-radius: 0.2rem;
	display: inline-block;
}

.product-info .price-old {
	color: var(--text-lightest);
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.625rem; /* 162.5% */
	text-decoration: line-through;
}

.product-info .quantity-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem;
	margin-bottom: 1rem;
}

.product-info .quantity-container button {
	background-color: inherit;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.product-info .quantity-container span {
	font-weight: 700;
	color: var(--text-dark);
}

.product-info .add-cart-btn {
	width: 100%;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	background-color: var(--primary);
	padding: 1.12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 0.625rem;
	border: none;
	box-shadow: 0px 20px 50px -20px #FF7E1B;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.product-info .add-cart-btn:hover {
	background-color: var(--primary-hover);
}

/* PRODUCT IMAGE COMPONENT STYLES */
.product-img-component {
	max-width: 500px;
}

.lrg-image-container {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.lrg-image-container .display-img {
	width: 100%;
	object-fit: contain;
}

.lrg-image-container button {
	position: absolute;
	background-color: white;
	border: none;
	border-radius: 50%;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.lrg-image-container .previous-icon {
	left: 1rem;
}

.lrg-image-container .next-icon {
 right: 1rem;
}

.thumbnails-container {
	display: none;
}

/* Product PAGE MODAL */ 
.product-container .modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}

.product-container .modal .exit-btn {
	position: relative;
	left: 240px;
	top: -50px;
	background-color: transparent;
	border:none;
}
.product-container .modal .exit-btn img{
	width: 20px;
	cursor: pointer;
}
/* Footer Styles */

footer {
	background-color: var(--primary);
	color: white;
	padding: 4.5rem 1.5rem;
	border-radius: 0rem 6.25rem 0rem 0rem;
	text-align: center;
}

footer .logo-container {
	margin-bottom: 3rem;
}

footer .link-container {
	margin-bottom: 2.5rem;
}

footer h2 {
	margin-bottom: 1.5rem;
	font-size: 1.125rem;
	font-weight: 700;
}

footer li {
	margin-bottom: 1rem;
	cursor: pointer;
}

footer .icon-link img{
	margin-right: 0.5rem;
}

@media (min-width: 768px) {

	/* HEADER STYLES */
	header {
		padding: 1.75rem 1.75rem;
		max-width: 1110px;
		margin: 0 auto;
	}

	header .logo {
		order: 1;
		margin-left: 0;
	}

	/* Header navigation */
	.header-navigation {
		order: 2;
		margin-left: 2.5rem;
		align-self: center;
	}

	.header-navigation ul {
		display: flex;
		gap: 1rem;
		color: var(--text-light);
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: 1.625rem; 
	}

	.header-navigation ul li {
		position: relative;
		cursor: pointer;
		transition: ease-in 0.2s all;
	}

	.header-navigation ul li:after {
    content: ''; 
    position: absolute; 
    bottom: -1rem; 
    left: 0; 
    width: 100%; 
    height: 4px; 
    background-color: inherit;
    transition: background-color 0.3s ease-in; 
	}

	.header-navigation ul li:hover:after {
		background-color: var(--primary);
	}

	.header-navigation ul li:hover {
		color: var(--text-dark);
	}

	.header-navigation .hamburger-btn {
		display: none;
	}

	/* Header cart */

	header .cart-icon-container {
		order: 3;
	}

	/* header Profile */
	header .profile-icon-container {
		width: 3.125rem;
		order: 4;
		margin-left: 2.5rem;
	}

	.profile-icon-container img {
		width: 100%;
	}

	/* Product Cart Nav - dropdown */

	/* SINGLE PRODUCT PAGE */
	.product-container {
		max-width: 1000px;
		margin: 7rem auto;
		margin-top: 4rem;
		padding: 0 1rem;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}

	.product-info {
	
	}

	.product-info .company {
		font-size: 0.8125rem;
		letter-spacing: 0.125rem;
		margin-bottom: 1.6rem;
	}

	.product-info h1 {
		font-size: 2.75rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}

	.product-info .description {
		font-size: 1rem;
		line-height: 1.625rem;
	}

	.product-info .price-info {
		margin-bottom: 2rem;
		flex-direction: column;
		align-items: start;
	}

	/* PRODUCT IMAGE COMPONENT */
	.lrg-image-container {
		margin-bottom: 2rem;
	}

	.lrg-image-container button {
		display: none;
	}

	.thumbnails-container {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	}

	.thumbnails-container .grid-img-container {
		border-radius: 1rem;
	}
	.thumbnails-container .grid-img-container.active {
		opacity: 0.5;
	}
	
	.thumbnails-container img {
		width: 100%;
		overflow: hidden;
		border-radius: 1rem;
		cursor: pointer;
	}

	.thumbnails-container img:hover {
		border: 2px solid var(--primary);
	}

	/* Footer Styles */
	footer {
		display: flex;
		justify-content: center;
		text-align: left;
		gap: 4rem;
	}

	footer .link-container {
		margin-bottom: 0;
	}
}

@media (min-width: 1024px) {

	/* Header Styles */
	header {
		padding: 1.75rem 0;
		max-width: 1110px;
		margin: 0 auto;
	}

	.header-navigation {
		margin-left: 3rem;
	}

	.header-navigation ul {
		gap: 2rem;
		font-size: 1.125rem;
	}

	header .profile-icon-container {
		margin-left: 3rem;
	}

	/* Single product page */
	.product-container {
		grid-gap: 5rem;
	}
	/* Footer styles */
	footer {
		gap: 10rem;
	}
}

