:root {
  --text-dark: #1D2026;
  --text-light: #69707D;
  --text-lightest: #B6BCC8;
  --primary: #FF7E1B;
  --primary-hover: #FFAB6A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Kumbh Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-webkit-tap-highlight-color: rgba(255, 171, 107, 0.2);
}
a {
	text-decoration: none;
	color: inherit;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.app-container {
	display: flex; 
	flex-direction: column;
	min-height: 100vh;
}
/* HEADER STYLES */

header {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1.2rem 1.5rem;
	justify-content: flex-start;
}

header button {
	background-color: inherit;
	border: none;
}

/* HEADER LOGO */

header .logo {
	margin-left: 1rem;
}

/* Header Nav */

.header-navigation {
	position: relative;
	align-self: end;
}

.header-navigation ul {
	display: none;
}

/* Nav modal menu */
.nav-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 2
}

.nav-modal .sidebar {
	width: 250px;
	height: 100%;
	padding: 1.6rem;
	background-color: white;
}

.nav-modal .modal-list {
	display: block;
	margin-top: 3.2rem;
}

.nav-modal .modal-list li {
	margin-bottom: 1.25rem;
	color: var(--text-dark);
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.625rem;
}

/* Header Cart */

.cart-icon-container {
	margin-left: auto;
	position: relative;
}

.cart-icon-container .cart-btn {
	cursor: pointer;
}

.cart-icon-container .cart-btn .cart-value {
	border-radius: 50%;
	color: white;
	background-color: var(--primary);
	padding: 0.3rem;
	position: absolute;
	transform: translate(90%, -70%);
}

.cart-icon-container .cart-dropdown {
	position: absolute;
	background-color: white;
	right: -3.5rem;
	top: 70px;
	width: 360px;
	min-height: 260px;
	max-height: 80vh;
	border-radius: 0.625rem;
	padding: 1.5rem;
	box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
	z-index: 2;
}

.cart-dropdown {
	font-weight: 700;
}

.cart-dropdown .items-container {
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.items-container .no-items {
	color: var(--text-light);
	font-weight: 700;
	line-height: 1.625rem
}

.items-container .cart-item {
	display: flex;
	width: 100%;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.item-container .cart-item .img-container {
	width: 3.125rem;
}

.cart-item .img-container img {
	width: 3.125rem;
	aspect-ratio: 1/1;
	object-fit: contain;
}

.cart-item h3 {
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-light);
}

.cart-item .price {
	display: flex;
	width: 100%;
	gap: 0.5rem;
}

.cart-item .single-price {
	color: var(--text-light);
	font-weight: 400;

}
.cart-item .price .total {
	margin-left: auto;
	font-weight: 700;
	color: var(--text-dark);
	font-size: 1rem;
}

.cart-item .delete-icon img {
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.cart-item .delete-icon img:hover {
	transform: scale(1.2);
}
/* Header Profile */

.profile-icon-container {
	width: 1.5rem;
	margin-left: 1rem;
	border-radius: 50%;
	cursor: pointer;
}

.profile-icon-container:hover,
.profile-icon-container:hover {
	border: 2px solid var(--primary);
}


.profile-icon-container img {
	width: 100%;
}

/* HOME PAGE */

.home-container {
	width: 100%;
	margin: 0 auto;

}

.hero-container {
	position: relative;
	margin-bottom: 4em;
	/* max-height: 600px; */
}

.hero-container img {
	width: 100%;
	max-height: 600px;
	object-fit: cover;
}

.hero-container .hero-content {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translate(0, -50%);
}

.hero-container h1 {
	color: var(--primary);
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 1.5rem;
}

.hero-container .hero-btn {
	padding: 0.6rem 1.2rem;
	color: var(--primary);
	font-size: 1rem;
	font-weight: 400;
	background-color: transparent;
	border: 1px solid var(--primary);
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.2s all ease-in;
}

.hero-container .hero-btn:hover {
	background-color: rgba(255, 171, 107, 0.3);
}

.category-container {
	padding: 1rem;
	margin-bottom: 5rem;
}

.category-container h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	color: var(--text-dark);
	margin-bottom: 2.5rem;
}

.category-container .category-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2rem;
}

.category-grid .grid-item-container {
	min-width: 300px;
	max-width: 350px;
	justify-self: center;
	aspect-ratio: 1 / 1;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.category-grid .grid-item {
	position: relative;
	aspect-ratio: 1 / 1;
}

.category-grid .grid-item-container:hover {
	
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.grid-item-container .grid-item img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.category-grid .grid-item .grid-item-text {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary);
}

/* SINGLE PRODUCT PAGE */
.product-container {
	margin-bottom: 5rem;
}

.product-info {
	padding: 1.5rem;
	max-width: 500px;
	margin: 0 auto;
}

.product-info .company {
	color: var(--primary);
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.11538rem;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
}

.product-info h1 {
	color: var(--text-dark);
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.product-info .description {
	color: var(--text-light);
	font-size: 0.9375rem;
	font-weight: 400;
	line-height: 1.5625rem;
	margin-bottom: 1.75rem;
}

.product-info .price-info {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.75rem;
}

.product-info .price {
	color: var(--text-dark);
	font-weight: 700;
	font-size: 1.75rem;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.product-info .price span {
	color: var(--primary);
	font-size: 1rem;
	font-weight: 700;
	padding: 0.3rem;
	background-color: rgba(255, 126, 28, 0.5);
	border-radius: 0.2rem;
	display: inline-block;
}

.product-info .price-old {
	color: var(--text-lightest);
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.625rem; /* 162.5% */
	text-decoration: line-through;
}

.product-info .add-cart-error-container {
	color: white;
	background-color: rgba(255, 0, 0, 0.7);
	padding: 1rem;
	border: 1px solid red;
	border-radius: 0.5rem;
	
}

.product-info .quantity-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.3rem;
	margin-bottom: 1rem;
}

.product-info .quantity-container button {
	background-color: inherit;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.product-info .quantity-container span {
	font-weight: 700;
	color: var(--text-dark);
}

.product-info .add-cart-btn {
	width: 100%;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	background-color: var(--primary);
	padding: 1.12rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 0.625rem;
	border: none;
	box-shadow: 0px 20px 50px -20px #FF7E1B;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.product-info .add-cart-btn:hover {
	background-color: var(--primary-hover);
}

/* PRODUCT IMAGE COMPONENT STYLES */
.product-img-component {
	max-width: 500px;
	margin: 0 auto;
}

.lrg-image-container {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.lrg-image-container .display-img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: contain;
}

.lrg-image-container button {
	position: absolute;
	background-color: white;
	border: none;
	border-radius: 50%;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.lrg-image-container .previous-icon {
	left: 1rem;
}

.lrg-image-container .next-icon {
 right: 1rem;
}

.thumbnails-container {
	display: none;
}

/* Product PAGE MODAL */ 
.product-container .modal {
	display: none;
}

/* PRODUCT LIST PAGE */

.product-card-grid {
	min-height: 60vh;
	max-width: 1100px;
	padding: 1rem;
	margin: 0 auto;
	margin-bottom: 5rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 2rem;	
	/* background-color: lightblue; */
}

/* PRODUCT CARD */

.product-card {
	padding: 1rem;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: 0.2s ease-in all;
	max-width: 400px;
	justify-self: center;
	display: flex;
	flex-direction: column;
}

.product-card:hover {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card .img-container {
	/* padding: 1rem; */
	margin-bottom: 1rem;
}

.product-card .img-container img {
	width: 100%;
	object-fit: contain;
	aspect-ratio: 1/1;
}

.product-card h2 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: var(--text-dark);
}

.product-card .product-card-price {
	font-weight: 700;
	font-size: 1.125rem;
	color: var(--text-light);
	margin-bottom: 2rem;
}

.product-card .product-card-btns {
	display: flex;
	gap: 0.5rem;
	margin-top: auto;
}

.product-card .add-to-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0.75rem 1.25rem;
	border: none;
	border-radius: 0.5rem;
	color: white;
	background-color: var(--primary);
	cursor: pointer;
	transition: 0.2s all ease-in;
	flex-grow: 1;

}
.product-card .add-to-cart:hover {
	background-color: var(--primary-hover);

}

.product-card .view-product {
	text-align: center;
	font-size: 0.9rem;
	font-weight: 700;
	color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 0.5rem;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	transition: 0.2s all ease-in;
	flex-grow: 1;
}

.product-card .view-product:hover {
	background-color: rgb(255, 171, 107, 0.2);
}

/* Contact page */

section.contact {
	width: 100%;
	padding: 1.5rem;
	max-width: 500px;
	margin: 3rem auto;
}

.contact h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	text-align: center;
}

.contact .error-container {
	margin-bottom: 0.5rem;
	color: red;
}

.contact label {
	display: block;
	margin-bottom: 0.5rem;
	color: var(--text-light);
}

.contact input {
	box-sizing: border-box;
	color: var(--text-dark);
	margin-bottom: 2rem;
	display: block;
	width: 100%;
	padding: 0.5rem;
	font-size: 1.125rem;
	border: 1px solid var(--text-lightest);
	border-radius: 0.3rem;
}

.contact input.error,
.contact textarea.error {
	border: 1px solid red;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-lightest);
  
}

.contact input:focus,
.contact textarea:focus {
	border: 1px solid var(--primary);
	outline: none;
	box-shadow: 0px 0px 5px var(--primary);
}

.contact textarea {
	font-size: 1.125rem;
	color: var(--text-dark);
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 2.5rem;
	border: 1px solid var(--text-lightest);
	border-radius: 0.3rem;
	display: block;
}

.contact button {
	background-color: var(--primary);
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.325rem;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.contact button:hover {
	background-color: var(--primary-hover);
}

/* ERROR PAGE */
#error-page {
	width: 100%;
	max-width: 1000px;
	margin: 5rem auto;
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#error-page h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

#error-page h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

#error-page .home-link {
	background-color: var(--primary);
	color: white;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
	border: none;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

/* Loading component */
.loading-container {
	width: 200px;
	margin: 10rem auto; 
	display: flex;
	justify-content: center;
}

.loading-container .loading-wheel {
	border: 5px solid transparent; 
	border-top: 5px solid var(--primary);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Error component */
.main-error-container {
	max-width: 700px;
	margin: 5rem auto;
}

.main-error-container h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	color: var(--text-dark);
	margin-bottom: 1rem;
}
.main-error-container p {
	font-size: 1.25rem;
	text-align: center;
	font-weight: 400;
	color: var(--text-light);
	margin-bottom: 1rem;
}

.main-error-container .back-link {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary);
	text-decoration: underline;
}



/* Footer Styles */

footer {
	background-color: var(--primary);
	color: white;
	padding: 4.5rem 1.5rem;
	border-radius: 0rem 6.25rem 0rem 0rem;
	text-align: center;
	margin-top: auto;
}

footer .logo-container {
	margin-bottom: 3rem;
}

footer .link-container {
	margin-bottom: 2.5rem;
}

footer h2 {
	margin-bottom: 1.5rem;
	font-size: 1.125rem;
	font-weight: 700;
}

footer li {
	margin-bottom: 1rem;
	cursor: pointer;
}

footer .icon-link img{
	margin-right: 0.5rem;
}

@media (min-width: 768px) {

	/* HEADER STYLES */
	header {
		padding: 1.75rem 1.75rem;
		max-width: 1110px;
		margin: 0 auto;
	}

	header .logo {
		order: 1;
		margin-left: 0;
	}

	/* Header navigation */
	.header-navigation {
		order: 2;
		margin-left: 2.5rem;
		align-self: center;
	}

	.header-navigation ul {
		display: flex;
		gap: 1rem;
		color: var(--text-light);
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: 1.625rem; 
	}

	.header-navigation ul li {
		position: relative;
		cursor: pointer;
		transition: ease-in 0.2s all;
	}

	.header-navigation ul li:after {
    content: ''; 
    position: absolute; 
    bottom: -1rem; 
    left: 0; 
    width: 100%; 
    height: 4px; 
    background-color: inherit;
    transition: background-color 0.3s ease-in; 
	}

	.header-navigation ul li:hover:after {
		background-color: var(--primary);
	}

	.header-navigation ul li:hover {
		color: var(--text-dark);
	}

	.header-navigation .hamburger-btn {
		display: none;
	}

	/* Header cart */

	header .cart-icon-container {
		order: 3;
	}

	/* header Profile */
	header .profile-icon-container {
		width: 3.125rem;
		order: 4;
		margin-left: 2.5rem;
	}

	.profile-icon-container img {
		width: 100%;
	}

	/* Product Cart Nav - dropdown */
	.cart-icon-container .cart-dropdown {
		top: 50px;
		right: unset;
		transform: translateX(-65%);
	}

	/* HOME PAGE */

	.home-container {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;

	}

	.hero-container {
		position: relative;
	}

	.hero-container img {
		width: 100%;
	}


	.hero-container .hero-content {
		position: absolute;
		top: 50%;
		left: 2.5rem;
		
	}

	.hero-container h1 {
		color: var(--primary);
		font-weight: 700;
		font-size: 3.5rem;
		line-height: 3.8rem;
	}

	.hero-container .hero-btn {
		padding: 0.75rem 1.5rem;
		font-size: 1.125rem;
	}


	/* SINGLE PRODUCT PAGE */
	.product-container {
		max-width: 1000px;
		margin: 7rem auto;
		margin-top: 4rem;
		padding: 0 1rem;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
	}

	.product-info {
	
	}

	.product-info .company {
		font-size: 0.8125rem;
		letter-spacing: 0.125rem;
		margin-bottom: 1.6rem;
	}

	.product-info h1 {
		font-size: 2.75rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}

	.product-info .description {
		font-size: 1rem;
		line-height: 1.625rem;
	}

	.product-info .price-info {
		margin-bottom: 2rem;
		flex-direction: column;
		align-items: start;
	}

	/* PRODUCT IMAGE COMPONENT */
	.lrg-image-container {
		margin-bottom: 2rem;
	}

	.lrg-image-container button {
		display: none;
	}
	/* Display in modal form */
	.modal .lrg-image-container button {
		display: block;
	}

	.lrg-image-container .previous-icon {
		left: 0;
		transform: translate(-50%, -50%);
	}
	
	.lrg-image-container .next-icon {
	 right: 0;
	 transform: translate(50%, -50%);
	}

	.thumbnails-container {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	}

	.thumbnails-container .grid-img-container {
		border-radius: 1rem;
	}
	.thumbnails-container .grid-img-container.active {
		opacity: 0.5;
	}
	
	.thumbnails-container img {
		width: 100%;
		overflow: hidden;
		border-radius: 1rem;
		cursor: pointer;
	}

	.thumbnails-container img:hover {
		border: 2px solid var(--primary);
	}

	.product-container .modal {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.75);
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 2;
	}
	
	.product-container .modal .exit-btn {
		position: relative;
		left: 240px;
		top: -25px;
		background-color: transparent;
		border:none;
	}
	
	.product-container .modal .exit-btn img{
		width: 20px;
		cursor: pointer;
	}

	/* PRODUCT LIST PAGE */

	.product-card-grid {
		padding: 2rem;
	}

	/* Footer Styles */
	footer {
		display: flex;
		justify-content: center;
		text-align: left;
		gap: 4rem;
	}

	footer .link-container {
		margin-bottom: 0;
	}
}

@media (min-width: 1024px) {

	/* Header Styles */
	header {
		padding: 1.75rem 0;
		max-width: 1110px;
		margin: 0 auto;
	}

	.header-navigation {
		margin-left: 3rem;
	}

	.header-navigation ul {
		gap: 2rem;
		font-size: 1.125rem;
	}

	header .profile-icon-container {
		margin-left: 3rem;
	}

	/* Single product page */
	.product-container {
		grid-gap: 5rem;
	}
	/* Footer styles */
	footer {
		gap: 10rem;
		margin-top: auto;
	}
}

